/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding-left: 150px;
  padding-right: 150px;
}

.form {
  padding-left: 40px;
  padding-right: 40px;
}

.yellow-btn {
  background: #FFA500;
  border-radius: 10px;
  font-family: FuturaBookC;
  color: #FFFFFF;
  font-size: 18px;
  padding: 19px 68px;
}
.yellow-btn:hover, .yellow-btn:active {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #969AF7;
}

.form__hidden {
  background: #969AF7;
  padding: 19px 68px;
  border-radius: 10px;
  font-family: FuturaBookC;
  font-size: 18px;
  color: #FFFFFF;
}
.form__hidden:hover, .form__hidden:active {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #FFA500;
}

@font-face {
  font-family: "FuturaC";
  src: url("/fonts/FuturaFuturisC.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaL";
  src: url("/fonts/FuturaFuturisLightC.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaBookC";
  src: url("/fonts/FuturaBookC.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("/fonts/FuturaDemiC.ttf") format("ttf");
}
.header {
  min-height: 850px;
  background: url("/images/header-bg.png"), url("/images/header-bg-blue.png"), no-repeat, no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 189px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 38px;
  font-size: 18px;
}
.header__menu .menu__list .menu__item a {
  font-family: FuturaBookC;
  color: #FFFFFF;
  font-weight: 300;
}
.header__menu .menu__list .menu__item a:hover, .header__menu .menu__list .menu__item a:active {
  color: #969AF7;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__menu .nav__burger {
  display: none;
}
.header__menu .header__phone a {
  position: relative;
  color: #FFFFFF;
  font-family: FuturaDemiC;
  font-size: 18px;
  line-height: 22.1px;
  font-weight: 400;
}
.header__menu .header__phone a::before {
  content: url("/images/ico/phoneIco.svg");
  position: absolute;
  top: 50%;
  right: 160px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__menu .header__phone a:hover, .header__menu .header__phone a:active {
  color: #969AF7;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .header__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header .header__content .header__content-text {
  max-width: 847px;
}
.header .header__content .content__title {
  font-size: 69.23px;
  font-family: FuturaDemiC;
  color: #FFFFFF;
  font-weight: 700;
}
.header .header__content .content__title-span {
  font-family: FuturaDemiC;
  color: #969AF7;
  font-size: 56.23px;
  white-space: nowrap;
  font-weight: 700;
}
.header .header__content .content__title-h2 {
  font-family: FuturaDemiC;
  color: #FFFFFF;
  font-size: 61.23px;
  font-weight: 700;
}
.header .header__content .content__text {
  max-width: 672px;
  font-family: FuturaBookC;
  font-size: 23px;
  color: #969AF7;
  white-space: nowrap;
}
.header .header__content .header__nav {
  margin-top: 37px;
}
.header .header__content .header__nav .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 25px 0 25px 31px;
  background: rgb(150, 154, 247);
  background: -webkit-gradient(linear, left top, right top, from(rgb(150, 154, 247)), color-stop(48%, rgba(140, 154, 200, 0)));
  background: linear-gradient(90deg, rgb(150, 154, 247) 0%, rgba(140, 154, 200, 0) 48%);
  border-radius: 10px;
}
.header .header__content .header__nav .header__list-item {
  color: #FFFFFF;
  font-size: 22px;
  font-family: FuturaBookC;
}
.header .header__content .header__nav .header__list-item img {
  margin-top: 5px;
  margin-right: 5px;
}
.header .form__footer {
  font-size: 14px;
  color: #C0C0C0;
}
.header .form__footer img {
  margin-right: 5px;
}
.header .yellow-btn {
  margin-top: 30px;
}

.header__modal {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
}

.header__form {
  max-width: 380px;
  justify-self: flex-end;
  background: #FFFFFF;
  border-radius: 10px;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}
.header__form .form__title {
  background: #6A32B4;
  padding: 32px 60px;
  color: #FFFFFF;
  text-align: center;
  font-size: 23px;
  font-family: FuturaDemiC;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
}
.header__form .form__name,
.header__form .form__phone,
.header__form .form__footer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: FuturaBookC;
}
.header__form .form__name {
  margin-top: 20px;
}
.header__form .input__name,
.header__form .input__phone {
  background: #F5F3FF;
  height: 56px;
  border-radius: 10px;
  -webkit-box-shadow: inset 7px 7px 11px -8px rgba(51, 51, 51, 0.81);
  box-shadow: inset 7px 7px 11px -8px rgba(51, 51, 51, 0.81);
}
.header__form .input__name::-webkit-input-placeholder, .header__form .input__phone::-webkit-input-placeholder {
  font-family: FuturaBookC;
  font-size: 20px;
}
.header__form .input__name::-moz-placeholder, .header__form .input__phone::-moz-placeholder {
  font-family: FuturaBookC;
  font-size: 20px;
}
.header__form .input__name:-ms-input-placeholder, .header__form .input__phone:-ms-input-placeholder {
  font-family: FuturaBookC;
  font-size: 20px;
}
.header__form .input__name::-ms-input-placeholder, .header__form .input__phone::-ms-input-placeholder {
  font-family: FuturaBookC;
  font-size: 20px;
}
.header__form .input__name::placeholder,
.header__form .input__phone::placeholder {
  font-family: FuturaBookC;
  font-size: 20px;
}

.form__hidden {
  display: none;
}

@media (max-width: 1500px) {
  .header {
    padding-top: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 70px;
  }
  .header__menu {
    margin-top: 20px;
  }
  .header .nav__active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header .header__menu-nav {
    display: none;
  }
  .header .header__menu-nav .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 100px;
    right: 50%;
    left: 50%;
  }
  .header .nav__burger {
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 50;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header .burger-line {
    height: 2px;
    width: 80%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    background: #FFFFFF;
  }
  .header .nav__burger::before,
  .header .nav__burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #FFFFFF;
  }
  .header .nav__burger::before {
    top: 0;
  }
  .header .nav__burger::after {
    bottom: 0;
  }
  .header .activeBtn {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header .activeBtn::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .header .activeBtn::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
  .header .header__content .content__title {
    font-size: 50px;
  }
  .header .header__content .content__title-span {
    font-size: 40px;
  }
  .header .header__content .content__title-h2 {
    font-size: 47px;
    margin-bottom: 10px;
  }
  .header .header__content .content__text {
    font-size: 18px;
  }
  .header .header__content .header__nav .header__list-item {
    font-size: 16px;
  }
}
@media (max-width: 1250px) {
  .header__form {
    max-width: 300px;
    padding: 0;
  }
  .header__form .form__name,
  .header__form .form__phone,
  .header__form .form__footer {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-family: FuturaBookC;
    font-size: 14px;
  }
  .header__form .header__form {
    background: #F5F3FF;
    height: 10px;
  }
  .header__form .header__form::-webkit-input-placeholder {
    font-family: FuturaBookC;
    font-size: 14px;
  }
  .header__form .header__form::-moz-placeholder {
    font-family: FuturaBookC;
    font-size: 14px;
  }
  .header__form .header__form:-ms-input-placeholder {
    font-family: FuturaBookC;
    font-size: 14px;
  }
  .header__form .header__form::-ms-input-placeholder {
    font-family: FuturaBookC;
    font-size: 14px;
  }
  .header__form .header__form::placeholder {
    font-family: FuturaBookC;
    font-size: 14px;
  }
}
@media (max-width: 1100px) {
  .header__form {
    z-index: 1;
    margin: 100px auto;
  }
  .open {
    visibility: visible;
  }
  .header .header__content {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .form__hidden {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: center;
  }
  .modalWindow {
    position: relative;
  }
}
@media (max-width: 800px) {
  .header .header__phone a {
    font-size: 16px;
  }
  .header .header__phone a::before {
    left: -30%;
  }
  .header .header__content {
    margin: 0 auto;
    max-width: 300px;
  }
  .header .header__content .content__title {
    font-size: 40px;
  }
  .header .header__content .content__title-span {
    font-size: 28px;
  }
  .header .header__content .content__title-h2 {
    font-size: 36px;
  }
  .header .header__content .content__text {
    white-space: wrap;
  }
  .container {
    padding: 0 20px;
  }
}/*# sourceMappingURL=main.css.map */