@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background: #F2F2F4;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding-left: 150px;
  padding-right: 150px;
}

.form {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar__bg {
  background: rgba(150, 154, 247, 0.7);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.24);
}

.navbar__bg.header__menu {
  padding-top: 10px;
  padding-bottom: 10px;
}

@font-face {
  font-family: "FuturaC";
  src: url("/fonts/FuturaFuturisC.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaL";
  src: url("/fonts/FuturaFuturisLightC.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaBookC";
  src: url("/fonts/FuturaBookC.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("/fonts/FuturaDemiC.ttf") format("ttf");
}
.header {
  min-height: 850px;
  background: url("/images/header-bg.png"), url("/images/header-bg-blue.png"), no-repeat, no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 189px;
}

.menu__btn {
  display: none;
  width: 40px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__btn span {
  background: #969AF7;
  height: 2px;
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  gap: 15px;
  z-index: 100;
  -webkit-transition: padding-top 0.3s ease, padding-bottom 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: padding-top 0.3s ease, padding-bottom 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease;
  transition: box-shadow 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, -webkit-box-shadow 0.3s ease;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 38px;
  font-size: 18px;
}
.header__menu .menu__list .menu__item a {
  font-family: FuturaBookC;
  color: #FFFFFF;
  font-weight: 300;
}
.header__menu .menu__list .menu__item a:hover, .header__menu .menu__list .menu__item a:active {
  color: #969AF7;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu__close-btn {
  display: none;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #FFFFFF;
  font-family: FuturaDemiC;
  font-size: 18px;
  line-height: 22.1px;
  font-weight: 400;
}
.header__phone a {
  color: #FFFFFF;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-wrap: nowrap;
}
.header__phone a:hover, .header__phone a:active {
  color: #969AF7;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 160px;
}

.header__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  font-family: FuturaDemiC;
}

.content__title {
  font-size: 69.23px;
  color: #FFFFFF;
}

.content__title-sec {
  font-size: 56.23px;
  color: #969AF7;
}

.content__title-thr {
  font-size: 61.23px;
  color: #FFFFFF;
}

.content__text {
  font-family: FuturaBookC;
  font-size: 23px;
  max-width: 650px;
  text-wrap: wrap;
  color: #969AF7;
  line-height: 29.85px;
}

.header__nav {
  margin-top: 37px;
}
.header__nav .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 25px 0 25px 31px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(150, 154, 247, 0.8)), color-stop(47%, rgba(150, 154, 247, 0)));
  background: linear-gradient(to right, rgba(150, 154, 247, 0.8) 0%, rgba(150, 154, 247, 0) 47%);
  border-radius: 10px;
}
.header__nav .header__list-item {
  color: #FFFFFF;
  font-size: 18px;
  font-family: FuturaBookC;
}
.header__nav .header__list-item img {
  margin-top: 5px;
  margin-right: 5px;
}

.form__footer {
  font-size: 14px;
  color: #C0C0C0;
  margin: 0 auto;
}
.form__footer img {
  margin-right: 5px;
}

.yellow-btn {
  margin-top: 30px;
  background: #FFA500;
  border-radius: 10px;
  font-family: FuturaBookC;
  color: #FFFFFF;
  font-size: 18px;
  padding: 19px 68px;
}
.yellow-btn:hover, .yellow-btn:active {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #969AF7;
}

.header__form {
  max-width: 380px;
  justify-self: flex-end;
  background: #FFFFFF;
  border-radius: 10px;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  width: 100%;
}
.header__form .form__title {
  background: #6A32B4;
  padding: 32px 60px;
  color: #FFFFFF;
  text-align: center;
  font-size: 23px;
  font-family: FuturaDemiC;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
}
.header__form .form__name,
.header__form .form__phone,
.header__form .form__footer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: FuturaBookC;
}
.header__form .form__name {
  margin-top: 20px;
}
.header__form .input__name,
.header__form .input__phone {
  background: #F5F3FF;
  height: 56px;
  border-radius: 10px;
  -webkit-box-shadow: inset 7px 7px 11px -8px rgba(51, 51, 51, 0.81);
  box-shadow: inset 7px 7px 11px -8px rgba(51, 51, 51, 0.81);
}
.header__form .input__name::-webkit-input-placeholder, .header__form .input__phone::-webkit-input-placeholder {
  font-family: FuturaBookC;
  font-size: 16px;
}
.header__form .input__name::-moz-placeholder, .header__form .input__phone::-moz-placeholder {
  font-family: FuturaBookC;
  font-size: 16px;
}
.header__form .input__name:-ms-input-placeholder, .header__form .input__phone:-ms-input-placeholder {
  font-family: FuturaBookC;
  font-size: 16px;
}
.header__form .input__name::-ms-input-placeholder, .header__form .input__phone::-ms-input-placeholder {
  font-family: FuturaBookC;
  font-size: 16px;
}
.header__form .input__name::placeholder,
.header__form .input__phone::placeholder {
  font-family: FuturaBookC;
  font-size: 16px;
}

.form__hidden {
  display: none;
  background: #969AF7;
  padding: 19px 68px;
  border-radius: 10px;
  font-family: FuturaBookC;
  font-size: 18px;
  color: #FFFFFF;
}
.form__hidden:hover, .form__hidden:active {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #FFA500;
}

@media (max-width: 1350px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0 10px 0;
    gap: 20px;
  }
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .content__title {
    font-size: 60px;
  }
  .content__title-sec {
    font-size: 45px;
  }
  .content__title-thr {
    font-size: 55px;
  }
  .content__text {
    max-width: 500px;
    font-size: 18px;
  }
  .header__nav .header__list-item {
    font-size: 16px;
  }
}
@media (max-width: 1250px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .content__title {
    font-size: 55px;
  }
  .content__title-sec {
    font-size: 40px;
  }
  .content__title-thr {
    font-size: 50px;
  }
  .content__text {
    margin-top: 15px;
    line-height: normal;
  }
}
@media (max-width: 900px) {
  .header__menu-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 450px;
    margin: 0 auto;
    background-color: #969AF7;
    border-radius: 0 0 10px 10px;
    padding-bottom: 30px;
    padding-top: 20px;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    border-radius: 0 0 10px 10px;
  }
  .header__menu-nav .menu__list {
    display: block;
    text-align: center;
    text-wrap: balance;
    gap: 10px;
  }
  .header__menu-nav .menu__list .menu__item {
    margin-bottom: 20px;
  }
  .header__menu-nav .menu__list .menu__item a:hover {
    color: #2A336C;
  }
  .header__menu-nav .menu__close-btn {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
  }
  .header__menu-nav.menu__list-open {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .header__content {
    padding-top: 130px;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 50px;
  }
  .header__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .header__form {
    position: absolute;
    visibility: hidden;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    z-index: 2;
  }
  .form__hidden {
    display: block;
    margin: 0 auto;
  }
  .modal__header {
    visibility: visible;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
}
@media (max-width: 800px) {
  .header__menu {
    gap: 100px;
  }
}
@media (max-width: 700px) {
  .header__menu {
    gap: 50px;
  }
}
@media (max-width: 600px) {
  .header__menu {
    gap: 20px;
  }
  .header__phone {
    display: none;
  }
  .header__menu-nav {
    width: 100%;
  }
  .content__title {
    font-size: 40px;
    text-align: center;
  }
  .content__title-sec {
    font-size: 30px;
    text-align: center;
  }
  .content__title-thr {
    font-size: 40px;
    text-align: center;
  }
  .content__text {
    font-size: 16px;
    text-align: center;
  }
  .header__menu .header__list .header__list-item {
    font-size: 14px;
  }
  .form__hidden {
    padding: 20px 30px;
  }
}
@media (max-width: 460px) {
  .content__title {
    font-size: 30px;
    text-align: center;
  }
  .content__title-sec {
    font-size: 20px;
    text-align: center;
  }
  .content__title-thr {
    font-size: 30px;
    text-align: center;
  }
  .content__text {
    font-size: 14px;
    text-align: center;
  }
  .header__list .header__list-item {
    font-size: 12px;
  }
  .form__hidden {
    font-size: 12px;
    padding: 15px 20px;
  }
}
.main__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 85px;
  padding-bottom: 130px;
  min-height: 1200px;
  gap: 42px;
}

.about__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 25px;
  color: #111111;
  text-align: center;
}

.about__title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  font-family: FuturaDemiC;
}

.about__text {
  max-width: 1051px;
  font-weight: 400;
  font-size: 22px;
  font-family: FuturaBookC;
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 43px;
     -moz-column-gap: 43px;
          column-gap: 43px;
  row-gap: 32px;
}

.main__card {
  max-width: 369px;
  min-height: 406px;
  padding: 40px 32px 61px 32px;
  text-align: center;
  background: #FFFFFF;
  background-image: url("/images/cardBg.png");
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
}
.main__card:hover {
  -webkit-box-shadow: 14px 10px 13px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 14px 10px 13px 0px rgba(0, 0, 0, 0.37);
}
.main__card::after {
  position: absolute;
  z-index: -1;
  bottom: -10px;
  right: -10px;
  content: "Возьмите на работу";
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  font-family: FuturaBookC;
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}
.main__card:hover::after {
  opacity: 1;
  -webkit-transform: translate(10px, 10px);
      -ms-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
}

.card__title {
  font-family: FuturaDemiC;
  font-size: 20px;
  color: #2A336C;
  margin-top: 39.29px;
}

.card__text {
  font-family: FuturaBookC;
  margin-top: 14px;
}

.manufacturer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  min-height: 728px;
  background: url("/images/ico/mask.svg"), url("/images/ico/swipperBl.png"), no-repeat, no-repeat;
}

.manufacturer__title {
  font-family: FuturaDemiC;
  font-size: 45px;
  text-align: center;
  color: #FFFFFF;
}

.manufacturer__text {
  font-family: FuturaBookC;
  font-size: 20px;
  color: #FFFFFF;
  max-width: 1280px;
}

@media (max-width: 1350px) {
  .main__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .main__cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .about__title {
    font-size: 40px;
  }
  .about__text {
    font-size: 18px;
  }
  .manufacturer__title {
    font-size: 40px;
  }
  .manufacturer__text {
    font-size: 18px;
    text-align: center;
    padding: 0 5px 0 5px;
  }
}
@media (max-width: 460px) {
  .about__title {
    font-size: 30px;
  }
  .about__text {
    font-size: 14px;
  }
  .main__card .card__title {
    font-size: 18px;
  }
  .main__card .card__text {
    font-size: 14px;
  }
  .manufacturer__title {
    font-size: 30px;
  }
  .manufacturer__text {
    font-size: 14px;
  }
}
.swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  width: 100%;
}

.swiper-wrapper {
  max-width: 1280px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #969AF7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #FFFFFF;
  font-size: 10px;
}

.job__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 135px;
  padding-bottom: 134px;
  background: url("/images/cards-bg.png") no-repeat bottom;
}

.job__card {
  display: grid;
  grid-template-columns: 60px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 21px;
  padding: 39px 40px 50px 38px;
  padding-right: 50px;
  background: url("/images/geometryC/c1.svg") no-repeat;
  max-width: 439.47px;
  height: 268.37px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.job__card:hover, .job__card:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.job__card:nth-child(2) {
  background: url("/images/geometryC/c2.png") no-repeat;
}
.job__card:nth-child(3) {
  background: url("/images/geometryC/c3.png") no-repeat;
}
.job__card:nth-child(4) {
  background: url("/images/geometryC/c4.png") no-repeat;
}
.job__card:nth-child(5) {
  background: url("/images/geometryC/c5.png") no-repeat;
}
.job__card:nth-child(6) {
  background: url("/images/geometryC/c6.png") no-repeat;
}

.title-number {
  font-family: FuturaDemiC;
  justify-self: flex-end;
  font-size: 36px;
  color: #969AF7;
}

.job__cards-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 28px;
}

.cards-title {
  font-family: FuturaDemiC;
  font-size: 18px;
  color: #FFFFFF;
  padding-top: 10px;
}

.cards-text {
  font-family: FuturaBookC;
  font-size: 18px;
  max-width: 291px;
  color: #FFFFFF;
}

.cardsBtn {
  margin-bottom: 154px;
}

.qua {
  background: url("/images/quaBg.png") no-repeat, url("/images/quaBl.png") no-repeat;
  background-size: cover;
  padding-top: 131px;
  padding-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 53px;
}

.qua-title {
  color: #FFFFFF;
}

.qua__drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}

.qua__items-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 38px 24px 53px;
  background: #969AF7;
  border-radius: 10px;
}

.qua__items-text {
  color: #FFFFFF;
  font-family: FuturaDemiC;
  font-size: 24px;
}

.qua__btn {
  padding-top: 10px;
  border-radius: 50%;
  background: #FFFFFF;
  width: 40px;
  height: 40px;
}

.qua__items-subtitle {
  font-family: FuturaBookC;
  font-size: 20px;
  color: #333333;
  background: #FFFFFF;
  padding-top: 0;
  padding-right: 43px;
  padding-left: 35px;
  padding-bottom: 0;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  text-wrap: wrap;
  overflow-y: hidden;
  height: 0;
  -webkit-transition: padding-top 0.3s ease, padding-bottom 0.3s ease, height 0.3s ease;
  transition: padding-top 0.3s ease, padding-bottom 0.3s ease, height 0.3s ease;
}

.active-text {
  padding-top: 39px;
  padding-bottom: 53px;
  height: 100%;
}

@media (max-width: 800px) {
  .qua__items-text {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .qua__btn {
    width: 50px;
    height: 30px;
  }
  .qua__items-text {
    font-size: 16px;
  }
  .qua__items-subtitle {
    font-size: 12px;
  }
}
@media (max-width: 460px) {
  .qua__btn {
    width: 55px;
    height: 25px;
  }
}
.footer {
  background: #333333;
  padding-bottom: 50px;
  padding-top: 50px;
}

.logo {
  cursor: pointer;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

.footer_li a {
  font-family: FuturaBookC;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.footer_li a:hover, .footer_li a:active {
  color: #969AF7;
}

.footer-btn {
  background: #969AF7;
  margin: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.footer-btn:hover, .footer-btn:active {
  background: #FFA500;
}

@media (max-width: 1350px) {
  .footer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1250px) {
  .footer__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 105px;
  }
  .footer__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-btn {
    max-width: 250px;
    padding: 15px 10px;
  }
}
@media (max-width: 700px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */