.main__about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 85px;
	padding-bottom: 130px;
	min-height: 1200px;
	gap: 42px;
}

.about__text {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	color: $color-black-dark;
	text-align: center;
}

.about__title {
	font-size: 45px;
	font-weight: 700;
	font-family: FuturaDemiC;
}

.about__text {
	max-width: 1051px;
	font-weight: 400;
	font-size: 22px;
	font-family: FuturaBookC;
}

.main__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 43px;
	row-gap: 32px;
}

.main__card {
	max-width: 369px;
	min-height: 406px;
	padding: 40px 32px 61px 32px;
	text-align: center;
	background: $color-white;
	background-image: url('/images/cardBg.png');
	border-radius: 10px;
	transition: $animation-text;
	position: relative;
	&:hover {
		-webkit-box-shadow: 14px 10px 13px 0px rgba(0,0,0,0.37);
		-moz-box-shadow: 14px 10px 13px 0px rgba(0,0,0,0.37);
		box-shadow: 14px 10px 13px 0px rgba(0,0,0,0.37);
	}
	&::after {
		position: absolute;
		z-index: -1;
		bottom: -10px;
		right: -10px;
		content: 'Возьмите на работу';
		display: block;
		opacity: 0;
		transition: opacity $animation-text, transform $animation-text;
		font-family: FuturaBookC;
		transform: translate(-10px, -10px);
	}
	&:hover::after {
		opacity: 1;
		transform: translate(10px, 10px);
	}
}

.card__title {
	font-family: FuturaDemiC;
	font-size: 20px;
	color: $color-dark-blue;
	margin-top: 39.29px;
}

.card__text {
	font-family: FuturaBookC;
	margin-top: 14px;
}




.manufacturer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
	min-height: 728px;
	background: url('/images/ico/mask.svg'), url('/images/ico/swipperBl.png') , no-repeat, no-repeat;
}

.swiper {
	display: flex;
	max-width: 1420px;
	width: 100%;
	height: 174px;
	margin: 0;
}

.swiper-wrapper {
	display: flex;
	gap: 18px;
	align-items: center;
	box-sizing: content-box;
}

.swiper-slide {
	max-width: 242px;
	background: $color-white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
	background: $color-purple-txt;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 20px;
	color: $color-white;
}

.manufacturer__title {
	font-family: FuturaDemiC;
	font-size: 45px;
	text-align: center;
	color: $color-white;
}

.manufacturer__text {
	font-family: FuturaBookC;
	font-size: 20px;
	color: $color-white;
}

@media (max-width: 1350px) {
	.main__cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 800px) {
	.main__cards {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 600px) {
	.about__title {
		font-size: 40px;
	}
	.about__text {
		font-size: 18px;
	}
}

@media (max-width: 460px) {
	.about__title {
		font-size: 30px;
	}
	.about__text {
		font-size: 14px;
	}

	.main__card {
		.card__title {
			font-size: 18px;
		}
		.card__text {
			font-size: 14px;
		}
	}
}