.header {
	min-height: 850px;
	background: url('/images/header-bg.png'), url('/images/header-bg-blue.png'), no-repeat, no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 189px;
}


.menu__btn {
	display: none;
	width: 40px;
	height: 20px;
	flex-direction: column;
	justify-content: space-between;
}

.menu__btn span {
	background: $color-purple-txt;
	height: 2px;
	width: 100%;
}
	
.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	position: fixed;
	gap: 15px;
	z-index: 100;
	transition: box-shadow $animation-text, padding-top $animation-text, padding-bottom $animation-text;
	backdrop-filter: blur(5px);
	& .menu__list {
		display: flex;
		align-items: center;
		gap: 0 38px;
		font-size: 18px;
		& .menu__item a {
			font-family: FuturaBookC;
			color: $color-white;
			font-weight: 300;
			&:hover,
			&:active {
				color: $color-purple-txt;
				transition: $animation-text;
			}
		}
	}
}

.menu__close-btn {
	display: none;
}
		

.header__phone {
	display: flex;
	align-items: center;
	gap: 10px;
	color: $color-white;
	font-family: FuturaDemiC;
	font-size: 18px;
	line-height: 22.1px;
	font-weight: 400;
	& a {
		color: $color-white;
		transition: $animation-text;
		text-wrap: nowrap;
			&:hover,
			&:active {
			color: $color-purple-txt;
		}
	}
}


.header__content {
	display: flex;
	justify-content: space-between;
	padding-top: 160px;
}

.header__content-text {
	display: flex;
	flex-direction: column;
}

.header__title {
	font-family: FuturaDemiC;
}

.content__title {
	font-size: 69.23px;
	color: $color-white;
}

.content__title-sec {
	font-size: 56.23px;
	color: $color-purple-txt;
}

.content__title-thr {
	font-size: 61.23px;
	color: $color-white;
}

.content__text {
	font-family: FuturaBookC;
	font-size: 23px;
	max-width: 650px;
	text-wrap: wrap;
	color: $color-purple-txt;
	line-height: 29.85px;
}

.header__nav {
	margin-top: 37px;

	& .header__list {
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 25px 0 25px 31px;
		background: linear-gradient(to right, rgba(150, 154, 247, 0.8) 0%, rgba(150, 154, 247, 0) 47%);
		border-radius: 10px;
	}

	& .header__list-item {
		color: $color-white;
		font-size: 18px;
		font-family: FuturaBookC;

		& img {
			margin-top: 5px;
			margin-right: 5px;
		}
	}
}


	
	.form__footer {
		font-size: 14px;
		color: $color-gray-ligth;
		margin: 0 auto;
		& img {
			margin-right: 5px;
		}
	}

.yellow-btn {
	margin-top: 30px;
}




	.header__form {
		max-width: 380px;
		justify-self: flex-end;
		background: $color-white;
		border-radius: 10px;
		padding-bottom: 36px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
		& .form__title {
			background: #6A32B4;
			padding: 32px 60px;
			color: $color-white;
			text-align: center;
			font-size: 23px;
			font-family: FuturaDemiC;
			font-weight: 700;
			border-radius: 10px 10px 0 0;
		}
		& .form__name,
		.form__phone,
		.form__footer {
			align-self: flex-start;
			font-family: FuturaBookC;
		}

		& .form__name {
			margin-top: 20px;
		}

		& .input__name,
		.input__phone {
			background: #F5F3FF;
			height: 56px;
			border-radius: 10px;
			-webkit-box-shadow: inset 7px 7px 11px -8px rgba(51,51,51,0.81);
			-moz-box-shadow: inset 7px 7px 11px -8px rgba(51,51,51,0.81);
			box-shadow: inset 7px 7px 11px -8px rgba(51,51,51,0.81);
			&::placeholder {
				font-family: FuturaBookC;
				font-size: 16px;
			}
		}
	}


.form__hidden {
	display: none;
}

@media (max-width: $adaptive) {
	.header__menu {
		align-self: center;
		justify-content: center;
		width: 100%;
		gap: 100px;
	}
	.header__menu-nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 450px;
		margin: 0 auto;
		background-color: $color-purple-txt;
		border-radius: 0 0 10px 10px;
		padding-bottom: 30px;
		padding-top: 20px;
		transform: translateY(-100%);
		transition: transform $animation-text;
		border-radius: 0 0 10px 10px;


		& .menu__list {
			display: block;
			text-align: center;
			text-wrap: balance;
			& .menu__item {
				margin-bottom: 20px;
			}
			& .menu__item a:hover {
				color: $color-dark-blue;
			}
		}

		.menu__close-btn {
			display: block;
			position: absolute;
			top: 5px;
			right: 10px;
			width: 20px;
		}
	}
	.header__menu-nav.menu__list-open {
		transform: translateY(0%);
	}
	.menu__btn {
		display: flex;
		cursor: pointer;
	}
}

@media (max-width: 1350px) {
	.container{
		padding-left: 100px;
		padding-right: 100px;
	}

	.content__title {
		font-size: 60px;
	}

	.content__title-sec {
		font-size: 45px;
	}

	.content__title-thr {
		font-size: 55px;
	}

	.content__text {
		max-width: 500px;
		font-size: 18px;
	}

	.header__nav {
		& .header__list-item {
			font-size: 16px;
		}
	}
}

@media (max-width: 1050px) {
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}

	.content__title {
		font-size: 55px;
	}
	.content__title-sec {
		font-size: 40px;
	}
	.content__title-thr {
		font-size: 50px;
	}

	.content__text {
		margin-top: 15px;
		line-height: normal;
	}
}

@media (max-width: 900px) {
	.header__content {
		padding-top: 130px;
	}
	.header {
		align-items: center;
		justify-content: flex-start;
		row-gap: 50px;
	}

	.header__menu {
		gap: 150px;
	}

	.header__form {
		position: absolute;
		visibility: hidden;
		top: 10%;
		left: 0;
		right: 0;
		margin: 0 auto;
		transform: scale(0);
		transition: transform $animation-text;
		z-index: 2;
	}

	.form__hidden {
		display: block;
		margin: 0 auto;
	}

	.modal__header {
		visibility: visible;
		transform: scale(1);
	}

	.header__content {
		flex-direction: column;
		row-gap: 50px;
	}
}

@media (max-width: 800px) {
	.header__menu {
		gap: 100px;
	}
}

@media (max-width: 700px) {
	.header__menu {
		gap: 50px;
	}
}

@media (max-width: 600px) {
	.header__menu {
		gap: 20px;
	}

	.header__phone {
		display: none;
	}

	.header__menu-nav {
		width: 100%;
	}

	.content__title {
		font-size: 40px;
		text-align: center;
	}
	.content__title-sec {
		font-size: 30px;
		text-align: center;
	}
	.content__title-thr {
		font-size: 40px;
		text-align: center;
	}
	.content__text {
		font-size: 16px;
		text-align: center;
	}

	.header__menu {
		.header__list {
			.header__list-item {
				font-size: 14px;
			}
		}
	}
	.form__hidden {
		padding: 20px 30px;
	}
}

@media (max-width: 460px) {
	.content__title {
		font-size: 30px;
		text-align: center;
	}
	.content__title-sec {
		font-size: 20px;
		text-align: center;
	}
	.content__title-thr {
		font-size: 30px;
		text-align: center;
	}
	.content__text {
		font-size: 14px;
		text-align: center;
	}

	.header__list {
		.header__list-item {
			font-size: 12px;
		}
	}
	.form__hidden {
		font-size: 12px;
		padding: 15px 20px;
	}
}