body {
	background: $color-gray-bg;
}

.header {
	min-height: 850px;
	background: url('/images/header-bg.png'), url('/images/header-bg-blue.png'), no-repeat, no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 189px;
}
	
.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	& .menu__list {
		display: flex;
		align-items: center;
		gap: 0 38px;
		font-size: 18px;
		& .menu__item a {
			font-family: FuturaBookC;
			color: $color-white;
			font-weight: 300;
			&:hover,
			&:active {
				color: $color-purple-txt;
				transition: $animation-text;
			}
		}
	}
}
		
.nav__burger {
	display: none;
}

.header__phone {
	display: flex;
	align-items: center;
	gap: 10px;
	color: $color-white;
	font-family: FuturaDemiC;
	font-size: 18px;
	line-height: 22.1px;
	font-weight: 400;
	& a {
		color: $color-white;
		transition: $animation-text;
			&:hover,
			&:active {
			color: $color-purple-txt;
		}
	}
}


.header__content {
	display: flex;
	justify-content: space-between;
}

.header__content-text {
	display: flex;
	flex-direction: column;
}

.header__title {
	font-family: FuturaDemiC;
}

.content__title {
	font-size: 69.23px;
	color: $color-white;
}

.content__title-sec {
	font-size: 56.23px;
	color: $color-purple-txt;
}

.content__title-thr {
	font-size: 61.23px;
	color: $color-white;
}

.content__text {
	font-family: FuturaBookC;
	font-size: 23px;
	max-width: 650px;
	text-wrap: wrap;
	color: $color-purple-txt;
	line-height: 29.85px;
}

.header__nav {
	margin-top: 37px;

	& .header__list {
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 25px 0 25px 31px;
		background: linear-gradient(to right, rgba(150, 154, 247, 0.8) 0%, rgba(150, 154, 247, 0) 47%);
		border-radius: 10px;
	}

	& .header__list-item {
		color: $color-white;
		font-size: 22px;
		font-family: FuturaBookC;

		& img {
			margin-top: 5px;
			margin-right: 5px;
		}
	}
}

	
	.form__footer {
		font-size: 14px;
		color: $color-gray-ligth;
		& img {
			margin-right: 5px;
		}
	}

.yellow-btn {
	margin-top: 30px;
}




	.header__form {
		max-width: 380px;
		justify-self: flex-end;
		background: $color-white;
		border-radius: 10px;
		padding-bottom: 36px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
		& .form__title {
			background: #6A32B4;
			padding: 32px 60px;
			color: $color-white;
			text-align: center;
			font-size: 23px;
			font-family: FuturaDemiC;
			font-weight: 700;
			border-radius: 10px 10px 0 0;
		}
		& .form__name,
		.form__phone,
		.form__footer {
			align-self: flex-start;
			font-family: FuturaBookC;
		}

		& .form__name {
			margin-top: 20px;
		}

		& .input__name,
		.input__phone {
			background: #F5F3FF;
			height: 56px;
			border-radius: 10px;
			-webkit-box-shadow: inset 7px 7px 11px -8px rgba(51,51,51,0.81);
			-moz-box-shadow: inset 7px 7px 11px -8px rgba(51,51,51,0.81);
			box-shadow: inset 7px 7px 11px -8px rgba(51,51,51,0.81);
			&::placeholder {
				font-family: FuturaBookC;
				font-size: 16px;
			}
		}
	}


.form__hidden {
	display: none;
}