@font-face {
	font-family: 'FuturaC';
	src: url('/fonts/FuturaFuturisC.ttf') format('ttf');
}

@font-face {
	font-family: 'FuturaL';
	src: url('/fonts/FuturaFuturisLightC.ttf') format('ttf');
}

@font-face {
	font-family: 'FuturaBookC';
	src: url('/fonts/FuturaBookC.ttf') format('ttf');
}

@font-face {
	font-family: 'FuturaDemiC';
	src: url('/fonts/FuturaDemiC.ttf') format('ttf');
}