$color-white: #FFFFFF;
$color-purple-txt: #969AF7;
$color-gray-dark: #333333;
$color-dark-blue: #2A336C;
$color-black-dark: #111111;
$color-black-txt: #030303;
$color-yellow: #FFA500;
$color-gray-ligth: #C0C0C0;
$color-gray-bg: #F2F2F4;

$animation-text: .3s ease;


$adaptive: 1500px;
$tablet: 1250px;
$tabletmed: 1100px;
$tabletsm: 800px;